body{
    background-color: white;
}
html{
    box-sizing: border-box;
}

.tooltip{
    position: relative;
    display: inline-block;
    border: 1px solid white; 
    width: 100px;
    padding: 0 30px;
    border-radius: 30px 30px ;
    margin: 0 3%;
    text-align: center;
}
.hoverit{
    color: rgb(77,77,77);
    cursor: pointer;
    font-size: 16px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hoverit:hover{
    color: white;
}

.toolbox{
    width:90%;
    margin: 0 auto ;
    background-color: rgba(41, 170, 226, 0.945);


}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70%;
    border: 2px solid rgba(80, 82, 80, 0.137);
    border-radius: 0px 0px 10px 10px ;
    /* margin-top: 5%; */
    /* box-shadow: 2px 5px #888888; */
      
  }

.logo{
    width:60px;
    height: 60px;
    margin: 0 auto;
}
.logo img{
    max-width: 100%;
}

.main{
    text-align: center;
    margin-top: 2%;
}
.main h1{
    color: #4D4D4D;
}

#head2{
    color: #29ABE2;
}

.head{
    width: 90%;
    margin: 0 auto;
    border: 2px solid rgba(80, 82, 80, 0.137);
    border-radius: 10px 10px 0 0 ;
    padding-bottom: 2%;
    background-color: rgba(0, 0, 0, 0.068);
}

.tooltiptext{

    visibility: hidden;
    position: absolute;
    width: 150px;
    left: 0px;
    bottom: 130%;
    background-color:white;
    padding: 20px 20px ;
    border-radius: 20px 20px;
    text-align: justify;
    color: gray;
    font-weight: 500;

}

.tooltip:hover .tooltiptext{
    visibility: visible;
}

.tooltiptext::after{
    content: "";
    position: absolute;
    top: 100%;
    left: 42%;
    border-style: solid;
    border-width: 7px;
    border-color: white transparent transparent transparent;

}